body {
  background: Cornsilk;
  margin: 0;
  }

img {
  width:100%;
  border: 5px solid black;
  border-right-width:10px;
  border-bottom-width:10px;
  padding: 0;
  margin:1%;
  margin-top:25px;
  margin-bottom:25px;
  margin-left:25px;
  margin-right:25px;
}
.cover{
    background-image:url(images/walking.jpg);
    background-position:center;
    background-size: contain;
    height:600px;
    width: 100%;
    margin:0;
    padding:2%;

}
ol{
  background:RGBa(255, 99, 71, 0.8);
  padding: 2%;
  margin:25px;
  margin-left:25px;
  width: 80%;
  border: 5px solid CornflowerBlue;
  padding:5%;
}
ol li {
  background:#ffe5e5;
  padding: 5px;
  margin:auto;
  width:90%;
  margin-left: 35px;
}
#top{
  text-align: center;
  font-family: "Arya Triple", sans-serif;
  font-size: 300%;
}
  h1  {
font-family: "Arya Triple", Futura, sans-serif;
color:CornflowerBlue;
text-align:center;
text-decoration:underline;
margin:2%;
    }
    a{
      color:CornflowerBlue;
      text-decoration: underline;
    }
    h2 {
          font-size:2em;
          color:RGBa(255, 99, 71, 0.8);
          font-family: Baskerville, "Times New Roman", serif;
          text-align:center;
    }
    p{
      text-align: center;
      font-family: Helvetica, Arial, sans-serif;
      color:CornflowerBlue;
      margin: auto
    }
    .black{
        width: 100%;
        border: 5px solid RGBa(255, 99, 71, 0.8);
        border-right-width:10px;
        border-bottom-width:10px;
        padding: 0px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .center{
        margin:45px;
        margin-left:45px;
        width:80%;
        display:block;
        border: 10px solid CornflowerBlue;
    }
    .low{
      margin:45px;
      padding-top:300px;
      font-size:4em;
      color:RGBa(255, 99, 71, 0.7);
      text-decoration: none;
      display: block;
    }
